<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report PDF</title>
</head>
<body>
        <div>Id: {{ report.id }}</div>
        <div>Organization: {{report.organization}}</div>
        <div>Created At: {{report.created_at}}</div>
        <div>Reported At: {{report.reported_at}}</div>
        <div>
            Inventory
            <ul>
                {% for item in report.inventory %}
                    <li>Name: {{ item.name }}</li>
                    <li>Price: {{ item.price }}</li>
                {% endfor %}
            </ul>
        </div>
        
</body>
</html>